name: Phrase Ruby License Check

on:
  workflow_call:
    inputs:
      ruby-version:
        required: false
        type: string
        default: 3.3.0
      ruby-bundler-version:
        required: false
        type: string
        default: 2.5.4
      decisions-file:
        required: false
        type: string
        default: license-decisions.yml
    secrets:
      github-token:
        required: true

jobs:
  lawa:
    name: lawa
    runs-on: ubuntu-latest
    steps:
      - name: Checkout app
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8
        with:
          ruby-version: ${{ inputs.ruby-version }}
        env:
          BUNDLE_GITHUB__COM: x-access-token:${{ secrets.github-token }}
      - name: Install compatible bundler version
        run: gem install bundler:${{ inputs.ruby-bundler-version }}
      - name: Install dependencies
        run: bundle _${{ inputs.ruby-bundler-version }}_ install --jobs 4 --retry 3 --path vendor/bundle
        env:
          BUNDLE_GITHUB__COM: x-access-token:${{ secrets.github-token }}
      - name: Install lawa
        run: |
          bundle _${{ inputs.ruby-bundler-version }}_ config unset deployment
          bundle _${{ inputs.ruby-bundler-version }}_ add -g development lawa --github "phrase/lawa"
          # license_finder needs logger on Ruby 4
          bundle _${{ inputs.ruby-bundler-version }}_ add logger
          bundle _${{ inputs.ruby-bundler-version }}_ lock --add-platform x86_64-linux
        env:
          BUNDLE_GITHUB__COM: x-access-token:${{ secrets.github-token }}
      - name: Run lawa
        run: bundle _${{ inputs.ruby-bundler-version }}_ exec lawa --enabled-package-managers bundler --decisions-file=${{ inputs.decisions-file }}
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
