name: Phrase Elixir License Check

on:
  workflow_call:
    inputs:
      otp-version:
        required: false
        type: string
        default: 25.2
      elixir-version:
        required: false
        type: string
        default: 1.14.2
      ruby-version:
        required: false
        type: string
        default: 3.1.2
      ruby-bundler-version:
        required: false
        type: string
        default: 2.3.14
      decisions-file:
        required: false
        type: string
        default: license-decisions.yml
    secrets:
      github-token:
        required: true

jobs:
  lawa:
    name: lawa
    runs-on: ubuntu-latest
    steps:
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ inputs.otp-version }}
          elixir-version: ${{ inputs.elixir-version }}
      - name: Checkout app
        uses: actions/checkout@v4
      - run: mix deps.get
      - name: Set up Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8
        with:
          ruby-version: ${{ inputs.ruby-version }}
      - name: Install compatible bundler version
        run: gem install bundler:${{ inputs.ruby-bundler-version }}
      - name: Install lawa
        run: |
          touch Gemfile.lawa
          echo "source 'https://rubygems.org'" >> Gemfile.lawa
          echo -e "gem 'lawa', :git => 'https://github.com/phrase/lawa.git'" >> Gemfile.lawa
          bundle _${{ inputs.ruby-bundler-version }}_ config unset deployment
          BUNDLE_GEMFILE=Gemfile.lawa bundle _${{ inputs.ruby-bundler-version }}_ install
        env:
          BUNDLE_GITHUB__COM: x-access-token:${{ secrets.github-token }}
      - name: Run lawa
        run: BUNDLE_GEMFILE=Gemfile.lawa bundle _${{ inputs.ruby-bundler-version }}_ exec lawa --enabled-package-managers=mix --decisions-file=${{ inputs.decisions-file }}
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
